<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>贾向恒个人简历</title>
    <link rel="stylesheet" href="/jxh/css/reset.min.css" charset="utf-8" type="text/css"/>
    <link rel="stylesheet" href="/jxh/css/swiper.min.css" charset="utf-8" type="text/css"/>
    <link rel="stylesheet" href="/jxh/css/index.css" charset="utf-8" type="text/css"/>
</head>
<body>
<section class="music" id="music">
    <audio id="musicAudio" preload="none" loop src="/jxh/audioFile/mus.mp3"></audio>
</section>
<section class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide page1">
            <img src="/jxh/img/ff.png" alt=""/>
            <img src="/jxh/img/name.png" alt=""/>
            <img src="/jxh/img/fly.png" alt=""/>
        </div>

        <div class="swiper-slide page2">
            <img src="/jxh/img/person2.png" alt=""/>
            <img src="/jxh/img/yuan1.png" id="imgThreeup" alt=""/>
            <img src="/jxh/img/yuan2.png" alt="" id="imgThree"/>
            <img src="/jxh/img/pic_16.png" alt=""/>

            <img src="/jxh/img/yuan1.png" id="imgFourup"alt=""/>
            <img src="/jxh/img/yuan2.png" alt="" id="imgFour"/>
            <img src="/jxh/img/pic_14.png" alt=""/>

            <img src="/jxh/img/yuan1.png" id="imgFiveup" alt=""/>
            <img src="/jxh/img/yuan2.png" alt="" id="imgFive"/>
            <img src="/jxh/img/node.png" alt=""/>

            <img class="line1" src="/jxh/img/line.png" alt=""/>
            <img class="line2" src="/jxh/img/line2.png" alt=""/>
            <img src="/jxh/img/zhiwei.png" alt=""/>
            <img src="/jxh/img/banyuan.png" alt=""/>
            <img src="/jxh/img/angular.png" alt=""/>
            <img src="/jxh/img/web.png" alt=""/>
            <img src="/jxh/img/css3.jpg" alt=""/>

        </div>
        <div class="swiper-slide page3">
            <img src="/jxh/img/person3.png" alt=""/>
            <img src="/jxh/img/s1.png" alt=""/>
            <img src="/jxh/img/s2.png" alt=""/>
            <img src="/jxh/img/s3.png" alt=""/>

            <h2>工作描述：CMS二次开发<br/>数据库管理、服务器管理<br/>
                北京星梦想网络科技公司<br/>
                工作时间：2014.5-至今<br/>

            </h2>
                <img src="/jxh/img/person4.png" alt=""/>
                <div class="project">当代医药网:www.ey99.com<br/>

                </div>
            <img src="/jxh/img/black.png" alt=""/>

        </div>
        <div class="swiper-slide page4">
            <img src="/jxh/img/person1.png" alt=""/>
            <img src="/jxh/img/bankuang1.png" alt=""/>
            <img src="/jxh/img/zl-name.png" alt=""/>
            <img src="/jxh/img/zl-school.png" alt=""/>
            <img src="/jxh/img/zl-zhuanye.png" alt=""/>
            <img src="/jxh/img/zl-tel.png" alt=""/>
            <img src="/jxh/img/bankuang.png" alt=""/>
            <img src="/jxh/img/weixin.png" alt=""/>
            <img src="/jxh/img/call.png" alt=""/>
        </div>
        <div class="swiper-slide page5">
            <img src="/jxh/img/end.png" alt=""/>
            <img src="/jxh/img/bgendpng.png" alt=""/>
            <img src="/jxh/img/fly1.png" alt=""/>
            <img src="/jxh/img/thank.png" alt=""/>
        </div>
    </div>
</section>
<script charset="utf-8" type="text/javascript" src="/jxh/js/swiper.min.js"></script>
<script charset="utf-8" type="text/javascript" src="/jxh/js/fastClick.js"></script>
<script charset="utf-8" type="text/javascript" src="/jxh/js/index.js"></script>
</body>
</html>